# Django
DJANGO_SECRET_KEY=cambia-esta-clave-secreta-en-produccion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
POSTGRES_DB=catalogo_db
POSTGRES_USER=catalogo_user
POSTGRES_PASSWORD=catalogo_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Datos semilla (desarrollo)
SEED_USER_USERNAME=user
SEED_USER_PASSWORD=contraseña
SEED_USER_EMAIL=user@example.com
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=sk3213r
SEED_ADMIN_EMAIL=admin@example.com
